[ ca ]
default_ca      = CA_default

[ CA_default ]
serial = ca-serial
crl = ca-crl.pem
database = ca-database.txt
name_opt = CA_default
cert_opt = CA_default
default_crl_days = 9999
default_md = sha512

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = test

[ req_distinguished_name ]
C                      = FR
ST                     = IDF
L                      = Paris
O                      = Buckless
OU                     = certificates
CN                     = ca
emailAddress           = contact@buckless.com

[ req_attributes ]
challengePassword      = test
